{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<h2>Login</h2>

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post">{% csrf_token %}
    {% for field in form %}
        {% bootstrap_field field layout='horizontal' form_group_class='row justify-content-center my-3' show_help=False %}
    {% endfor %}

    <div class="row justify-content-center mt-4">
      <button type="submit" class="btn btn-lg btn-secondary mx-2">Login</button>
      <a href="{% url 'mainpage:signup' %}" class="btn btn-lg btn-secondary mx-2" role="button">Sign up</a>
      </div>
</form>
{% endblock %}