{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<h2>Sign up</h2>

<form method="post">{% csrf_token %}
    {% for field in form %}
        {% bootstrap_field field layout='horizontal' form_group_class='row justify-content-center my-3'  show_help=False %}
    {% endfor %}

    <p class="font-weight-lighter text-secondary">Password can't be similar to the username</p>

    <div class="row justify-content-center mt-4">
        <button type="submit" class="btn btn-lg btn-secondary mx-2">Sign up</button>
        <a href="{% url 'login' %}" class="btn btn-lg btn-secondary mx-2" role="button">Back</a>
      </div>
</form>
{% endblock %}