{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Settings{% endblock %}

{% block content %}
<h1>Settings</h1>
    <!-- Showing list of statuses -->
    {% if statuses %}
        <h3 class="my-2">Edit, delete and create new statuses</h3>
        {% for status in statuses %}
        <div class="row justify-content-center my-2">
            <div class="col-1 text-center  mr-2 p-0">{{ status.status_value }}</div>

            <form  action="{% url 'mainpage:edit_status' status.id %}" class="col-1 p-0" method="get" >{% csrf_token %}
                <button  type="submit" class="btn btn-sm btn-outline-primary mr-2">Edit</button>
            </form>
            <form action="{% url 'mainpage:delete_status' status.id %}" class="col-1 p-0" method="post" >{% csrf_token %}
                <button  type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
            </form>
        </div>
        {% endfor %}
    {% endif %}


    <!-- Create new status -->
    <form action="{% url 'mainpage:create_status' %}" class="form-inline justify-content-center mt-4" method="post" >{% csrf_token %}
        {% if form.errors %} {{ form.errors }} {% endif %}
        {% bootstrap_label "Add new:" label_for="status_value" label_class="col-md-2 " %} 
        {% bootstrap_field form.status_value layout="horizontal" size="small" horizontal_field_class='col-md-8 mx-2' show_label=False set_placeholder=False show_help=False %}
        <button type="submit" class="btn btn-success">Create</button>
    </form>


    </form>
    <!-- Logout -->
    <div class="row justify-content-center p-1">
        <p class="text-muted mt-5">If you are not {{ request.user }}, you can <u><a class="text-muted" href="{% url 'logout' %}">logout</a></u></p>
        
    </div>


{% endblock %}