{% extends 'base.html' %}
{% block title %} HOME {% endblock %} 
{% block content%} 

    {%if user.is_authenticated %} 
        Welcome {{ user.username }} !
        
        {% include 'task_list.html' %}
        
       <p ><a href="{% url 'logout' %}" class="text-secondary"><u>logout</u></a></p>
    {% else %}
        <h2>You are not logged in</h2>

        <p><a href="{% url 'login'%}" class="btn btn-secondary">Login</a>
            <a href="{% url 'login'%}" class="btn m-3 btn-secondary">I don't want to login</a></p>


           
    {% endif %} {% endblock %}