
  <h1>Tasks for today</h1>
  <br>
  <div class="div div-hover div-dark">
    
    <div class="row">
      <div class="col">#</div>
      <div class="col">Name</div>
      <div class="col">Description</div>
      <div class="col">Status</div>
      <div class="col">Creator</div>
      <div class="col">Assigned</div>
      <div class="col">Tags</div>
    </div>
  
  
      {% for task in tasks %}
      <div class="row">
          <div class="col">{{ forloop.counter }}</div>
          <div class="col"><a class="stretched-link" href="{{ task.get_absolute_url }}">
              {{ task.name }}</a></div>
          <div class="col">{{ task.description|truncatewords:5|linebreaks }}</div>
          <div class="col">{{ task.status }}</div>
          <div class="col">{{ task.creator }}</div>
          <div class="col">{{ task.assigned_to }}</div>
          <div class="col">{% for tag in task.tags.all %}
            {{ tag }} <br>{% endfor %}</div>
      </div>
      {% endfor %}
  
</div>
  <p class="lead">
    <a href="{% url 'mainpage:new_task'%}" class="btn btn-lg btn-secondary">Add new</a>
  </p>
