{% extends "base.html" %}

{% block title %}{{ task.name }}{% endblock %}

{% block content %}
  <h3>Task: {{ task.name }}</h2>
  <h5>for {{ task.assigned_to }} by {{ task.creator }}</h4>
  <br><br>
        {% for line in task.description_lines %} 
        <p>{{ line }}</p>
        {% endfor %}


        <br><br><br>
  <p><a href="{% url 'mainpage:edit_task' task.id %}" class="btn btn-lg btn-secondary" role="button">Edit</a>
  <a href="{% url 'mainpage:delete_task' task.id %}" class="btn m-2 btn-lg btn-secondary" role="button">Delete</a>
  <a href="{% url 'mainpage:home'%}" class="btn btn-lg btn-secondary" role="button">Back</a>
  </p>
{% endblock %}