{% load static %}
<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand"><a href="{% url 'mainpage:home' %}">Task manager</a></h3>
    <nav class="nav nav-masthead justify-content-center">
        <a
          {% if '/' == request.path %}
            class="nav-link active"
          {% else %}
            class="nav-link"
          {% endif %}
          href="{% url 'mainpage:home' %}">Tasks</a>

        <a
          {% if 'statuses' in request.path %}
            class="nav-link active"
          {% else %}
            class="nav-link"
          {% endif %}
          href="{% url 'mainpage:statuses' %}">Statuses</a>

        <a
          {% if 'contact' in request.path %}
            class="nav-link active"
          {% else %}
            class="nav-link"
          {% endif %}
          href="{% url 'mainpage:contact' %}">Contact</a>
    </nav>
  </div>
</header>
