{% extends "base.html" %}

{% block title %}New task{% endblock %}

{% block content %}
<h1>New task</h1>
<form method="post" class="text-left" novalidate>{% csrf_token %}
    {% if form.errors %} {{ form.errors }} {% endif %}
    <div class="form-group">
        <label for="name">Task name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value }}">
    </div>
    <div class="form-row mt-2">
        <div class="col-10">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="12" name="description">{{ form.description.value }}</textarea>
        </div>
        <div class="col-2">
            <label for="tags">Tags</label>
            <select multiple class="form-control" size="15" name="tags" >
                {% for tags in form.tags %}
                {{ tags }}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row mt-2">
        <div class="col">
            <label for="status">Status</label>
            <select id="status" class="form-control" name="status">
                {% for status in form.status %}
                {{ status }}
                {% endfor %}
            </select>
            </div>
        <div class="col">
                <label for="creator">Creator</label>
                <select id="creator" class="form-control" name="creator">
                    {% for creator in form.creator %}
                    {{ creator }}
                    {% endfor %}
                </select>
        </div>
        <div class="col">
                <label for="assigned_to">Assigned to</label>
                <select id="assigned_to" class="form-control" name="assigned_to">
                    {% for assigned_to in form.assigned_to %}
                    {{ assigned_to }}
                    {% endfor %}
                </select>
        </div>
    </div>
    <!-- Buttons -->
    <div class="row justify-content-center my-3">
        <button  class="btn btn-success mr-2" type='submit'>Save</button>
        <button action="{% url 'mainpage:home'%}" class="btn btn-secondary" type='submit'>Back</button>
    </div>
</form>



{% endblock %}